@mixin animate-input {
	transition: border-color 150ms, box-shadow 150ms;
}

@mixin heading {
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	color: rgba($text-strong, 0.75);
}

@mixin strong($size: 1.1rem) {
	font-weight: 700;
	text-transform: uppercase;
	font-size: $size;
}

@mixin flex-centered($direction: row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}


/*---------------------------------------------------------------------------
	Custom scrollbar
---------------------------------------------------------------------------*/
$custom-scrollbar-width: 0.4rem !default;

@mixin custom-scrollbar {
	&::-webkit-scrollbar {
		width: $custom-scrollbar-width;
	}

	&::-webkit-scrollbar-track {
		border-radius: $custom-scrollbar-width / 2;
		background-color: lighten($background-lighter, 5);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: $custom-scrollbar-width / 2;
		background-color: lighten($background-lighter, 10);
	}
}