@mixin animate-input {
	transition: border-color 150ms, box-shadow 150ms;
}

@mixin heading {
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	color: rgba($text-strong, 0.75);
}

@mixin strong($size: 1.1rem) {
	font-weight: 700;
	text-transform: uppercase;
	font-size: $size;
}

@mixin flex-centered($direction: row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}