/*---------------------------------------------------------------------------
	Sizing
---------------------------------------------------------------------------*/
.is-width-100 {
	width: 100%;
}

.is-height-100 {
	height: 100%;
}


/*---------------------------------------------------------------------------
	Layout / tables
---------------------------------------------------------------------------*/
.has-aligned-rows td {
	vertical-align: middle !important;
}

.is-same-height {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.is-flex-centered {
	@include flex-centered;
}

.is-flex-centered-column {
	@include flex-centered(column);
}


/*---------------------------------------------------------------------------
	Custom table styling
---------------------------------------------------------------------------*/
$table-styling: true !default;

@if $table-styling {
	.table-container {
		background-color: $box-background-color;
		padding: $box-padding * 1.5;
		border-radius: $box-radius;
		box-shadow: $box-shadow;

		th {
			@include heading;
		}

		tbody {
			border: $table-cell-border;
		}
	}

	.is-data-table {
		tbody {
			border: none;
		}

		th {
			text-align: right !important;
		}
	}
}


/*---------------------------------------------------------------------------
	Shape
---------------------------------------------------------------------------*/
.is-circular {
	border-radius: 50%;
}


/*---------------------------------------------------------------------------
	Color / visibility / effects
---------------------------------------------------------------------------*/
.has-background-dimmed {
	background-color: darken($background-lighter, 5);
}

.has-opacity-1 {
	opacity: 1;
}

.has-opacity-0 {
	opacity: 0;
}


/*---------------------------------------------------------------------------
	Text styling
---------------------------------------------------------------------------*/
.has-indent {
	text-indent: 1em;
}

.has-word-wrap {
	white-space: pre-wrap;
	word-wrap: break-word;

	code {
		width: 100%;
	}
}

.is-heading {
	@include heading;
}

.has-text-strikethrough {
	text-decoration: line-through;
}

.has-text-shadow {
	text-shadow: 1px 1px 1px rgba(black, 0.6);
}


/*---------------------------------------------------------------------------
	Text truncation
---------------------------------------------------------------------------*/
.has-text-truncated, .has-text-truncated-small, .has-text-truncated-large {
	text-overflow: ellipsis;
	overflow: hidden;
}

.has-text-truncated-small {
	max-width: 15vw;
}

.has-text-truncated {
	max-width: 35vw;
}

.has-text-truncated-large {
	max-width: 50vw;
}


/*---------------------------------------------------------------------------
	Animate inputs
---------------------------------------------------------------------------*/
.input, .textarea, select, .CodeMirror {
	@include animate-input;
}


/*---------------------------------------------------------------------------
	Remove number increment/decrement buttons
---------------------------------------------------------------------------*/
$hide-number-input: true !default;

@if $hide-number-input {
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		-moz-appearance: textfield;
	}
}


/*---------------------------------------------------------------------------
	Hide cloaked Vue elements
---------------------------------------------------------------------------*/
$hide-v-cloak: true !default;

@if $hide-v-cloak {
	[v-cloak] {
		display: none;
	}
}


/*---------------------------------------------------------------------------
	Bulma spinner
---------------------------------------------------------------------------*/
.spinner {
	@include loader;

	@each $size in $dimensions {
		&.is-#{$size}x#{$size} {
			width: #{$size}px;
			height: #{$size}px;
		}
	}
}


/*---------------------------------------------------------------------------
	Fix option element styling
---------------------------------------------------------------------------*/
option {
	color: $text-strong-inverse;

	&[disabled] {
		color: lighten($text-strong-inverse, 40);
	}
}


/*---------------------------------------------------------------------------
	Empty text (no search results, no content, etc.)
---------------------------------------------------------------------------*/
.is-empty-text {
	color: rgba($text, 0.5);
	font-size: 1.5rem;
	font-style: italic;
	text-align: center;
	margin: 3rem 0;
}


/*---------------------------------------------------------------------------
	Flex body
---------------------------------------------------------------------------*/
$has-flex-body: true !default;

@if $has-flex-body {
	html, body {
		min-height: 100vh !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	html {
		overflow-x: hidden;
		overflow-y: auto;
	}

	body, #app {
		display: flex;
		flex-direction: column;
	}

	#app, #content-wrapper {
		flex: 1;
	}
}


/*---------------------------------------------------------------------------
	Simple level class
---------------------------------------------------------------------------*/
.level-simple {
	display: flex;
	flex-direction: row;
	align-items: center;

	figure {
		flex-shrink: 0;
	}
}