@import "../../../../scss/mixins";

/*---------------------------------------------------------------------------
	Checkbox
---------------------------------------------------------------------------*/
$checkbox-size: $control-height * 0.6 !default;
$checkbox-background-color: $input-background-color !default;
$checkbox-shadow: $input-shadow !default;
$checkbox-radius: $box-radius !default;
$checkbox-active-color: $primary !default;
$checkbox-hover-border-color: $input-hover-border-color !default;
$checkbox-disabled-background-color: $input-disabled-background-color !default;
$checkbox-inner-size: $checkbox-size / 2 !default;

.checkbox-input {
	@include animateInput;

	display: flex;
	justify-content: center;
	align-items: center;

	width: $checkbox-size;
	height: $checkbox-size;

	padding: 0;

	background-color: $checkbox-background-color;
	box-shadow: $checkbox-shadow;

	border: 1px solid transparent;
	cursor: pointer;

	border-radius: $checkbox-radius;

	&.is-circular {
		border-radius: $checkbox-inner-size;
	}

	&:hover {
		border: 1px solid $checkbox-hover-border-color;
	}

	&[disabled] {
		cursor: not-allowed;
		border: 1px solid transparent;
		background-color: $checkbox-disabled-background-color;
	}

	.icon {
		flex-shrink: 0;
		font-size: $checkbox-inner-size;

		transition: color 150ms;
		color: transparent;

		&.is-active {
			color: $checkbox-active-color;
		}
	}

	.checkbox-input-circular-inner {
		flex-shrink: 0;
		width: $checkbox-inner-size;
		height: $checkbox-inner-size;
		border-radius: $checkbox-inner-size;

		transition: background-color 150ms;
		background-color: transparent;

		&.is-active {
			background-color: $checkbox-active-color;
		}
	}
}

/*---------------------------------------------------------------------------
	Switch
---------------------------------------------------------------------------*/
$switch-background-color: #b5b5b5 !default;
$switch-active-color: $primary !default;
$switch-height: $checkbox-size !default;
$switch-width: $switch-height * 2 !default;

$switch-inner-background-color: white !default;
$switch-inner-ratio: 0.75 !default;

$switch-inner-size: $switch-height * $switch-inner-ratio;
$switch-start: $switch-height / 2 - $switch-inner-size / 2;

.switch-input {
	position: relative;

	width: $switch-width;
	height: $switch-height;

	border-radius: $switch-height / 2;
	cursor: pointer;

	transition: 150ms background-color ease-in;
	background-color: $switch-background-color;

	&.is-active {
		background-color: $switch-active-color;
	}

	&[disabled] {
		opacity: 0.35;
		cursor: not-allowed;
	}

	.switch-inner {
		position: absolute;

		width: $switch-inner-size;
		height: $switch-inner-size;

		background-color: $switch-inner-background-color;
		border-radius: $switch-inner-size / 2;

		top: $switch-start;

		transition: 150ms left ease-in;
		left: $switch-start;

		&.is-active {
			left: $switch-width - $switch-inner-size - $switch-start;
		}
	}
}